div {
    font-family: trap;
    color: whitesmoke;
}

body {
    background: url(../Images/background.jpg);
}

img {
    height: auto;
    width: 50vh;
    margin-left: 35vw;
}

h1 {
    color: rgb(7, 7, 7);
    text-shadow: 2px 2px whitesmoke;
    font-size: 500%;
    text-align: center;
    font-stretch: 100%;
}

h2 {
    text-align: center;
    text-decoration: line-through;
    font-size: 350%;
    text-shadow: 2px 2px rgb(201, 125, 58);
    opacity: .8;
}

.border {
    padding-top: 21px;
    padding-bottom: 5px;
    padding-left: 300px;
    padding-right: 300px;
    border: 10px;
    border-style: double;
    background-color: rgb(201, 125, 58);
    opacity: 0.8;
}

.copyborder {
    border: 10px;
    border-style: double;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(201, 125, 58);
    opacity: .8;
    display: block;
}

/* including these for ease of future changes to the page */

p {
    color: whitesmoke;
}

ol {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

ul {
    color: whitesmoke;
    margin-right: 50px;
    margin-left: auto;
}