body {
    background: url(/Images/leather.jpg);
}

html * {
    style {
        @font-face {
            font-family: trap;
            src: url(/fonts/Trap-Bold.otf);
        }
    }
}

h1 {
    color: rgb(7, 7, 7);
    text-shadow: 2px 2px whitesmoke;
    opacity: 0.8;
    font-size: 400%;
    text-align: center;
}

h4 {
    color: whitesmoke
}

p {
    color: whitesmoke;
}

.about_me {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
}

.past_projects {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
}

ol {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

.pro_bg {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
}

.edu {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: whitesmoke;
}

.hobbies {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
}